body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  background-image: url("../abstract-gray-background-low-poly-textured-triangle-shapes-in-random-pattern-trendy-lowpoly-background-vector.jpg");
  position: relative;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
button {
  border-radius: 20px;
  color: darkcyan;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: antiquewhite;
  margin-bottom: 20px;
  border: none;
  height: 50px;
  cursor: pointer;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1 {
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 30px;
  font-family: "lobster";
  color: darkcyan;
}

input,
textarea {
  width: 30vw;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: #c4c4c4 1px solid;
}
